<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.fecap.pi.ubersafestart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UberSafeStartFecap"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".FullScreenStreetViewActivity"
            android:exported="false"
            android:label="Visualização da Rua"
            android:theme="@style/Theme.UberSafeStartFecap" />

        <!-- Nova Activity de Conquistas adicionada aqui -->
        <activity
            android:name=".AchievementsActivity"
            android:exported="false"
            android:label="Conquistas"
            android:theme="@style/Theme.UberSafeStartFecap" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB02n6zO_PAO82LI-8HsZ0JOOUPiePwh4A" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.UberSafeStartFecap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Início Passageiro" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="Cadastro"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".RideInProgressActivity"
            android:exported="false"
            android:label="Corrida em Andamento"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="Perfil"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".DriverHomeActivity"
            android:exported="false"
            android:label="Início Motorista"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".DriverSafetyChecklistActivity"
            android:exported="false"
            android:label="Checklist de Segurança"
            android:theme="@style/Theme.UberSafeStartFecap" />
        <activity
            android:name=".RideFeedbackActivity"
            android:exported="false"
            android:label="Avaliação da Corrida"
            android:theme="@style/Theme.UberSafeStartFecap" />

    </application>

</manifest>